@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

:root {
    --menu-color: rgb(137, 137, 137);
        --just-color: rgb(255, 255, 255);

    --selection-text: rgba(172, 172, 238, 0.2);

    --bg-color: rgb(255,255,255)
}

body {

    background-color: var(--bg-color);
}


/*.page {

}*/


/*Панель слева--------------------------------------------------*/


.leftSide {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: 1px solid AliceBlue;
}

@media (max-width: 800px) {
    .leftSide {
        justify-content: center;
    }
    
}

/**Лого**/

.logo {
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1vw;
}

.logo span {
    color: deeppink;
}





/*Основной контент--------------------------------------------------*/

/**Структура страницы**/
main {
    margin: 0;

}

.cover {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.cover h1 {
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cover h1 span {
    -webkit-text-fill-color: deeppink;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    width: min(80vw, 1200px);
    max-width: min(80vw, 1200px);
    aspect-ratio: 2 / 1;
    margin-bottom: 1rem;
    align-self: center;
    object-fit: cover;
    border: solid rgba(200, 200, 200, 0.5);
    border-width: 1px;
}


/**Текст**/
p {
    margin-bottom: 1rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

p span {
    background-color: var(--selection-text);
    padding: 0.2rem 0.1rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.imgNotaition {
    color: rgb(152, 152, 152);
    font-style: italic;
    font-size: small;
}




footer {
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 10px;
    border-top: solid 1px;
    border-color: var(--selection-text);
    background-color: var(--bg-color);
    height: 4rem;
}


footer p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

footer .logo {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

a {
    color: black;
    text-decoration: none;
}


.colorpallete {
    display: flex;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    width: calc(70px * 11);
    max-width: calc(70px * 11);
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(224, 224, 224, 0.675);
}


.blockColor {
    display: flex;
    width: 70px;
    height: 150px;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.15s;
    margin: 0;
    padding: 0;
}

.blockColor:hover {
    width: 140px;
    transition: ease-in-out 0.15s;
}

.blockColor p {
        font-size: 9px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        visibility: hidden;
}


.blockColor:hover p {
        font-size: 9px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        visibility: visible;
}



.colorArrayContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px 35px;
    margin: 0 3vw;
}


[class*='colorItemContainer'] {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


[class*='colorPalleteContainer'] {
    outline: solid 1px;
    outline-color: Silver;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    overflow: hidden
}



[class*='range'] {
    width: 90%;
}

[class*='range1'] {
    accent-color: Pink; 
}

[class*='range2'] {
    accent-color: LightGreen; 
}

[class*='range3'] {
    accent-color: LightSkyBlue; 
}


[class*='colorItemPalleteContainer'] {
    outline: 1px solid;
    width: 100px;
    height: 100%;
}
